body {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

body > * {
  padding: 0 15%;
}

h1,
h2,
p {
  margin: 0;
}

button {
  align-self: flex-start;
  color: white;
  background-color: #3882f6;
  border: 0 solid black;
  border-radius: 6px;
  padding: 8px 16px;
  margin-top: 16px;
}

header,
.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.logo {
  font-size: 30px;
}

.header-links {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  margin-left: auto;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-text-container {
  display: flex;
  flex-flow: column wrap;
}

.hero-image-container {
  flex: auto;
}

.hero-image-container > img {
  height: auto;
  width: 500px;
}

.quote {
  background-color: #e5e7eb;
  font-style: italic;
  color: #1f2937;
  font-size: 36px;
}

.quote .author {
  font-size: 28px;
}
