/* ELEMENT SELECTORS */
body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900px;
  padding-bottom: 30px;
}

button {
  align-self: flex-start;
  color: white;
  background-color: #3882f6;
  border: 0 solid black;
  border-radius: 6px;
  padding: 8px 16px;
  margin-top: 16px;
}

/* HEADER */

header,
.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.logo {
  font-size: 30px;
}

.header-links {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  margin-left: auto;
  gap: 20px;
}

/* HERO */

.hero {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-text-container {
  display: flex;
  flex-flow: column wrap;
}

.hero-image-container {
  display: flex;
}

.hero-image-container > img {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  align-items: center;
  height: auto;
  width: 500px;
}

/* INFORMATION */

.info {
  text-align: center;
  padding: 30px 0 50px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.info-card img {
  margin-bottom: 6px;
  border: 5px solid skyblue;
  border-radius: 10px;
  height: 150px;
  width: auto;
}

.info-card p {
  color: #595959;
}

 /* QUOTE */

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  font-style: italic;
  color: #1f2937;
  font-size: 36px;
  padding: 100px 0 100px 0;
}

.author {
  font-size: 28px;
  align-self: flex-end;
}

/* CALL TO ACTION / CTA  */

.CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 100px 0;
}

.CTA-container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 40px 0 40px 0;
}

.CTA-text {
  flex: auto;
  margin-left: 40px;
  color: white;
}

.CTA-text strong {
  font-size: x-large;
}

.CTA-button button {
  flex: 0 1 auto;
  border: 2px solid white;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 0;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 40px 0 40px 0;
}

/* GLOBAL PADDING */

header, .hero, .info, .quote, .CTA, footer {
  padding-left: 120px;
  padding-right: 120px;
} 